<% is_image = asset.asset_type == 'image' %>

<div class='list-group-item list-group-item--asset' id=<%= "submission-asset-#{asset.id}" %>>
  <div class='list-group-item-content'>
    <div class='list-group-item-label'>
      <% asset_name = asset.filename || "#{asset.asset_type} ##{asset.id}" %>
      <%= link_to "#{asset_name}", admin_submission_asset_path(asset.submission, asset) %>
    </div>
  </div>

  <% if is_image %>
    <% if asset.image_urls['square'].present? %>
      <div class='list-group-item-content'>
        <div class='asset-thumb'>
          <%= image_tag asset.image_urls['square'] %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class='list-group-item-content'>
      <div class='asset-thumb'>
        <div style="width:60px; height: 60px; border: 1px solid black; background-color: #ccc;">
        </div>
      </div>
    </div>
  <% end %>
  <div class='asset-controls'>
    <% if is_image %>
      <% if asset.id == asset.submission.primary_image_id %>
        <div class='primary-image-label'>
          Primary
        </div>
      <% else %>
        <div class='make-primary-image'>
          <%= link_to 'Make primary', admin_submission_path(submission: { primary_image_id: asset.id }), method: :put, class: 'make-primary-link' %>
        </div>
      <% end %>
    <% end %>
    <%= link_to 'Remove', admin_submission_asset_path(asset.submission, asset), method: :delete, class: 'make-primary-link', data: { confirm: "Are you sure?" } %>
  </div>
</div>
