<% is_image = @asset.asset_type == 'image' %>

<div class='page-title'>
  <h2>Asset #<%= @asset.id %></h2>
</div>

<div class='col-sm-12'>
  <div class='attributes-container row triple-padding-top'>
    <% if @asset.filename %>
      <div class='row'>
        <div class='col-sm-2'>
          <div class='bold-label'>Filename</div>
        </div>
        <div class='col-sm-10'>
          <div><%= @asset.filename %></div>
        </div>
      </div>
    <% end %>

    <div class='row'>
      <div class='col-sm-2'>
        <div class='bold-label'>Submission</div>
      </div>
      <div class='col-sm-10'>
        <%= link_to "Submission ##{@submission.id}", admin_submission_path(@submission) %>
      </div>
    </div>

    <div class='row double-padding-top'>
      <div class='col-sm-2'>
        <div class='bold-label'>Asset Type</div>
      </div>
      <div class='col-sm-10'>
        <%= @asset.asset_type %>
      </div>
    </div>

    <% if is_image %>
      <div class='row double-padding-top'>
        <div class='col-sm-2'>
          <div class='bold-label'>Image Urls</div>
        </div>
        <div class='col-sm-10'>
          <%= @asset.image_urls %>
        </div>
      </div>

      <div class='row double-padding-top'>
        <div class='col-sm-2'>
          <div class='bold-label'>Square image</div>
        </div>
        <% if @asset.image_urls['square'] %>
          <%= image_tag @asset.image_urls['square'] %>
        <% end %>
      </div>

      <div class='row double-padding-top'>
        <div class='col-sm-2'>
          <div class='bold-label'>Original image</div>
        </div>
        <% if @original_image %>
          <div class='col-sm-10'>
            <%= link_to 'View Original', @original_image, class: 'btn btn-secondary btn-tiny' %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class='row double-padding-top'>
        <div class='col-sm-2'>
          <div class='bold-label'>View file</div>
        </div>
        <div class='col-sm-10'>
          <%= link_to 'Link to S3', @asset.document_path, class: 'btn btn-secondary btn-tiny', target: '_blank' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
