<div class='page-title'>
  <h2>Current Partners</h2>
</div>

<div class='container'>
  <div class='row triple-padding-top'>
    <div class='col-md-12'>
      <div class='list-group'>
        <% @partner_details.each do |gravity_partner_id, details| %>
          <div class='list-group-item list-item--partner' data-id=<%= details[:partner_id] %>>
            <div class='list-group-item-info'>
              <p class='list-item--partner--name'>
                <%= details[:given_name] %>
              </p>
              <p>
                <%= link_to 'View next digest contents', admin_partner_submissions_path(partner_id: details[:partner_id], notified_at: '') %>
              </p>
            </div>
            <div class='list-group-item-info list-group-item-links'>
              <%= link_to 'Edit partner contacts', "#{Convection.config.vibrations_url}/contacts?partner_id=#{gravity_partner_id}", class: 'btn btn-secondary btn-tiny' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'shared/watt/paginator', total_items_count: @partners.total_count, items_count: @partners.length, per_page: @size, current_page: @page, base_url: admin_partners_url %>
</div>
