<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='padded-email'>
  <tr>
    <td>
      <table class='email-content' align='left'>
        <tr>
          <td>
            <%= render 'shared/email/email_header' %>
          </td>
        </tr>
        <tr>
          <td class='email-sub-title'>
            <p>Dear <%= @submission.name %>,</p>
            <p>Thank you for submitting your artwork for Artsy to consider. We always enjoy seeing fresh talent.</p>
            <p>Currently, we don’t work with artists directly. If you are represented by a gallery, you can encourage them to consider partnering with us.</p>
            <p>If you’re looking for gallery representation, you might be interested in reading our <%= link_to 'Gallery Representation Guide', artsy_formatted_url('article/artsy-editorial-artists-gallery-representation', @utm_params), target: :_blank %> 
               and <%= link_to 'The Working Artist’s Guide', artsy_formatted_url('series/working-artists-guide', @utm_params), target: :_blank %>, two resources from our Editorial Team.</p>
            <p>We wish you all the best in your continued work.</p>
            <p>
              Sincerely,
              <br />
              The Sell with Artsy Team
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>