<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='first-upload-reminder-email'>
  <tr>
    <td>
      <table class='padded-email'>
        <tr>
          <td>
            <table class='email-content first-reminder-email' align='left'>
              <tr>
                <td>
                  <%= render 'shared/email/email_header' %>
                </td>
              </tr>
              <tr>
                <td class='email-title'>
                Complete your consignment submission
                </td>
              </tr>
              <tr>
                <td class='email-sub-title'>
                  Upload photos of your work to complete your consignment submission.
                </td>
              </tr>
              <tr>
                <td>
                  <%= image_tag(image_url('missing_photo_todo.png'), id: 'missing-photo') %>
                </td>
              </tr>
              <tr>
                <td>
                  <table class='full-width-button'>
                    <tr>
                      <td class='upload-photo-button'>
                        <%= link_to('Upload Photos', upload_photo_url(@submission.id, @utm_params)) %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class='submission-id'>
      <%= "Submission ##{@submission.id}" %>
    </td>
  </tr>
</table>
