<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='padded-email'>
  <tr>
    <td>
      <table class='email-content' align='left'>
        <tr>
          <td>
            <%= render 'shared/email/email_header' %>
          </td>
        </tr>
        <tr>
          <td class='email-sub-title'>
            <p>Dear <%= @user.name %>,</p>
            <p>Thank you for submission and interest in our
              <%= link_to 'Sell with Artsy program', 'https://www.artsy.net/consign', target: :_blank %>!
              Our team of Specialists carefully review each submission with the commercial
              behavior of Artsy users and our network of auction partners in mind. </p>
            <p>Upon reviewing your submission, our Specialists have determined we cannot accept this artwork at this time, 
            because there is minimal to no demand for <%= @artist.name %> on Artsy. For more information about how our Specialists review
              submissions, please visit our Collector Help Center article
              <%= link_to 'What do we look for in consignment submissions?',
                'https://support.artsy.net/hc/en-us/articles/1500006366381', target: :_blank %>.</p>
            <p>Of course, if you have works by other artists that you would be
              interested in consigning at any point, please kindly
              <%= link_to 'submit a work', 'https://www.artsy.net/consign', target: :_blank %>
              for another artist or email our team directly at <%= link_to 'consign@artsymail.com', 'mailto:consign@artsymail.com', target: :_blank %>.</p>
            <p>We will be in touch if anything changes in the future.</p>
            <p>Sincerely,<br />The Sell with Artsy Team</p>
          </td>
        </tr>
        <tr>
          <td>
            <%= render 'shared/email/submission_block', submission: @submission %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
