<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='padded-email'>
  <tr>
    <td>
      <table class='email-content' align='left'>
        <tr>
          <td>
            <%= render 'shared/email/email_header' %>
          </td>
        </tr>
        <tr>
          <td class='email-sub-title'>
            <p>Dear <%= @submission.name %>,</p>
            <p>Thank you for your interest in selling with <%= link_to 'Artsy', 'https://www.artsy.net', target: :_blank %> and for giving us a chance to consider your artwork.</p>
            <p>Our specialists have reviewed your submission and while it’s a wonderful piece, we unfortunately don’t have demand for this artwork on Artsy at the moment.</p>

            <% if Convection.config.send_new_receipt_email %>
              <p>To keep an eye on demand for this piece, you’ll need an Artsy account, so you can access <span style="text-decoration:underline">My Collection.</span></p>
              <p>Simply <%= link_to 'sign up', @sign_up_url, target: :_blank %> or <%= link_to 'log in', @log_in_url, target: :_blank %> to Artsy with the same email you used for this submission and visit our app.</p>
              <p>You’ll find the artwork in My Collection, along with related art market insights.</p>
            <% end %>

            <p>You can submit another artwork anytime. If you would like to sell multiple artworks, we’d be happy to assist you at <%= link_to 'consign@artsymail.com', 'mailto:consign@artsymail.com', target: :_blank %>.</p>
            <p>We look forward to hearing from you.</p>
            <p>
              Sincerely,
              <br />
              The Sell with Artsy Team
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>