<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='padded-email offer-email'>
  <tr>
    <td>
      <table class='email-content' align='left'>
        <tr>
          <td>
            <%= render 'shared/email/email_header' %>
          </td>
        </tr>
        <tr>
          <td class='email-title-centered'>
            Dear <%= @user.name %>,
          </td>
        </tr>
        <tr>
          <td class='spacer'></td>
        </tr>
        <tr>
          <td class='email-sub-title-serif'>
            We are delighted to share an offer to sell your artwork. Kindly review the below and let us know if you are interested in proceeding. 
            Once you accept, we will introduce you to the partner to finalize the agreement. If you would like to decline the offer, let us know why.
          </td>
        </tr>
         <tr>
          <td class='spacer'></td>
        </tr>
        <tr>
          <td class='zero-padding'>
            <%= render 'shared/email/submission_offer_block' %>
          </td>
        </tr>
        <tr>
          <td class='zero-padding'>
            <%= render 'shared/email/offer_block', include_description: true %>
          </td>
        </tr>
        <%= render 'shared/email/offer_note', label: 'Note' %>
        <tr>
          <td class='spacer'></td>
        </tr>
        <tr>
          <td class='email-sub-title-serif'>
            If you have any questions, please do not hesitate to reach out to us at consign@artsymail.com

            Thank you,
            Artsy
          </td>
        </tr>
        <tr>
          <td class='spacer'></td>
        </tr>
        <tr>
          <td>
            <table class='full-width-button'>
              <tr>
                  <td class='offer-response-button'>
                    <%= link_to('Reply to this offer', offer_response_form_url(submission_id: @submission.id, partner_name: @offer.partner.name)) %>
                  </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class='spacer'></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
