<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='padded-email offer-email'>
  <tr>
    <td>
      <table class='email-content' align='left'>
        <tr>
          <td>
            <%= render 'shared/email/email_header' %>
          </td>
        </tr>
        <tr>
          <td class='email-title-centered'>
            Great news, an offer has been made for your work.
          </td>
        </tr>
        <tr>
          <td class='spacer'></td>
        </tr>
        <tr>
          <td class='email-sub-title-serif'>
            Please accept or reject so that we may update our partner on your interest. Review the offer details below:
          </td>
        </tr>
         <tr>
          <td class='spacer'></td>
        </tr>
        <tr>
          <td class='zero-padding'>
            <%= render 'shared/email/submission_offer_block' %>
          </td>
        </tr>
        <tr>
          <td class='zero-padding'>
            <%= render 'shared/email/offer_block' %>
          </td>
        </tr>
        <%= render 'shared/email/offer_note', label: 'Note from our partner' %>
        <tr>
          <td class='spacer'></td>
        </tr>
        <tr>
          <td class='email-sub-title-serif'>
            Please accept promptly.
          </td>
        </tr>
        <tr>
          <td class='spacer'></td>
        </tr>
        <tr>
          <td>
            <table class='full-width-button'>
              <tr>
                  <td class='offer-response-button'>
                    <%= link_to('Reply to this offer', offer_response_form_url) %>
                  </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class='spacer'></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
