<p>Dear <%= @submission.name %>,</p>
            <p>Thank you for your interest in selling with <%= link_to 'Artsy', 'https://www.artsy.net', target: :_blank %> and for giving us a chance to consider your artwork.</p>
            <p>Our specialists have reviewed your submission and while it’s a wonderful piece, we unfortunately don’t have demand for this artwork on Artsy at the moment.</p>
            <p>If you’d like to know more, you can read about what our specialists are looking for in our <%= link_to 'Collector Help Center', 'https://support.artsy.net/hc/en-us/articles/1500006366381', target: :_blank %></p>
            <p>You can submit another artwork anytime. If you have multiple artworks to sell, we’d be happy to assist you at <%= link_to 'consign@artsymail.com', 'mailto:consign@artsymail.com', target: :_blank %>. We look forward to hearing from you.</p>
            <p>
              Sincerely,
              <br />
              The Sell with Artsy Team
            </p><%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='padded-email'>
  <tr>
    <td>
      <table class='email-content' align='left'>
        <tr>
          <td>
            <%= render 'shared/email/email_header' %>
          </td>
        </tr>
        <tr>
          <td class='email-sub-title'>

            <p>Dear <%= @submission.name %>,</p>
            <p>Thank you for your interest in selling with <%= link_to 'Artsy', 'https://www.artsy.net', target: :_blank %> and for giving us a chance to consider your artwork.</p>
            <p>Our specialists have reviewed your submission and while it’s a wonderful piece, we unfortunately don’t have demand for this artwork on Artsy at the moment.</p>
            <p>If you’d like to know more, you can read about what our specialists are looking for in our <%= link_to 'Collector Help Center', 'https://support.artsy.net/hc/en-us/articles/1500006366381', target: :_blank %></p>
            <p>You can submit another artwork anytime. If you have multiple artworks to sell, we’d be happy to assist you at <%= link_to 'consign@artsymail.com', 'mailto:consign@artsymail.com', target: :_blank %>. We look forward to hearing from you.</p>
            <p>
              Sincerely,
              <br />
              The Sell with Artsy Team
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <%= render 'shared/email/submission_block', submission: @submission %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
