<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='bordered-email' align='center'>
  <tr>
    <td>
      <table class='email-content' align='center'>
        <tr>
          <td class='artsy-logo'>
            <%= image_tag(image_url('artsy-logo.jpg'), id: 'artsy-logo') %>
          </td>
        </tr>
        <tr>
          <td class='email-title'>
            Complete your consignment submission
          </td>
        </tr>
        <table class='checklist' align='center'>
          <tr class='checklist-row'>
            <td class='check purple-check'>
              <%= image_tag(image_url('purple-check.jpg'), id: 'purple-check') %>
            </td>
            <td class='checklist-item checklist-item-completed'>
              Verified Artist/Designer
            </td>
          </tr>
          <tr class='checklist-row'>
            <td class='check purple-check'>
              <%= image_tag(image_url('purple-check.jpg'), id: 'purple-check') %>
            </td>
            <td class='checklist-item checklist-item-completed'>
              Work Description
            </td>
          </tr>
          <tr class='checklist-row'>
            <td class='check empty-check'>
              <%= image_tag(image_url('empty-check.jpg'), id: 'empty-check') %>
            </td>
            <td class='checklist-item checklist-item-incomplete'>
              Upload Photos
            </td>
          </tr>
        </table>
        <tr>
          <td class='email-sub-title'>
            Upload photos of your work to complete your consignment submission
          </td>
        </tr>
        <tr>
          <td class='upload-photo-button'>
            <%= link_to('Upload Photos', "#{Convection.config.artsy_url}/consign2/submission/#{@submission.id}/upload") %>
          </td>
        </tr>
        <tr>
          <td class='email-footer-text'>
            Please direct any questions to <%= mail_to('specialist@artsy.net') %> or call one of our specialists at
            <%= link_to Convection.config.contact_phone_number, "tel:#{Convection.config.contact_phone_number}" %>.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
