<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='receipt-email'>
  <tr>
    <td>
      <table class='padded-email'>
        <tr>
          <td>
            <table class='email-content' align='center'>
              <tr>
                <td>
                  <%= render 'shared/email/email_header' %>
                </td>
              </tr>
              <tr>
                <td class='email-sub-title'>
                  <p>Dear <%= @submission.name %>,</p>
                  <p>Thank you for submitting an artwork to sell with <%= link_to 'Artsy', 'https://www.artsy.net', target: :_blank %>. We’ll reach out to you shortly with an update or if we require additional information.</p>
                  <p class='email-sub-title-bold'>What happens next?</p>
                  <p>Our team of specialists will review your work to evaluate whether we currently have a suitable market for it. If your work is accepted, we’ll send you a sales offer and guide you in choosing the best option for selling it.</p>
                </td>
              </tr>
              
               <% if @inject_create_account_section %>
                  <tr>
                    <td class='email-sub-title'>
                        <p>You’ll need an Artsy account in order to find your artwork in My Collection, along with related art market insights.</p>
                        <%= render 'shared/email/myCollection_block', is_production: @is_production %>
                    </td>
                  </tr>
               <% end %>

              <tr>
                <td>
                  <%= render 'shared/email/submission_block', submission: @submission %>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Sincerely,
                    <br />
                    The Sell with Artsy Team
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>