<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='bordered-email' align='center'>
  <tr>
    <td>
      <table class='email-content' align='center'>
        <tr>
          <td class='artsy-logo'>
            <%= image_tag(image_url('artsy-logo.jpg'), id: 'artsy-logo') %>
          </td>
        </tr>
        <tr>
          <td class='email-title'>
            Thank you for submitting your work to our consignments network
          </td>
        </tr>
        <tr>
          <% if @submission.processed_images.length > 0 %>
            <td class='submission-image'>
              <%= image_tag(@submission.processed_images.first.image_urls['square'], id: 'first-image') %>
            </td>
          <% else %>
            <%= image_tag(image_url('missing-image.png'), id: 'first-image') %>
          <% end %>
        </tr>
        <tr>
          <td class='num-uploaded-images'>
            <%= "#{pluralize(@submission.images.count, 'image')} uploaded" %>
          </td>
        </tr>
        <tr>
          <td class='artist-name'>
            <%= @artist.name %>
          </td>
        </tr>
        <tr>
          <td class='artwork-title'>
            <i><%= @submission.title %></i><span><%= ", #{@submission.year}" %></span>
          </td>
        </tr>
        <tr>
          <td class='artwork-category-medium'>
            <%= "#{@submission.category}, #{@submission.medium}" %>
          </td>
        </tr>
        <tr>
          <td class='dimensions'>
            <%= @submission.formatted_dimensions %>
          </td>
        </tr>
        <table class='checklist' align='center'>
          <tr class='checklist-row'>
            <td class='check purple-check'>
              <%= image_tag(image_url('purple-check.jpg'), id: 'purple-check') %>
            </td>
            <td class='checklist-item checklist-item-completed'>
              Verified Artist/Designer
            </td>
          </tr>
          <tr class='checklist-row'>
            <td class='check purple-check'>
              <%= image_tag(image_url('purple-check.jpg'), id: 'purple-check') %>
            </td>
            <td class='checklist-item checklist-item-completed'>
              Work Description
            </td>
          </tr>
          <tr class='checklist-row'>
            <td class='check purple-check'>
              <%= image_tag(image_url('purple-check.jpg'), id: 'empty-check') %>
            </td>
            <td class='checklist-item checklist-item-completed'>
              Upload Photos
            </td>
          </tr>
        </table>
        <table class='padded-section' align='center'>
          <table class='bordered-section' align='center'>
            <tr>
              <td>
                Our current submission review time ranges 2-3 weeks.
                Please direct any questions to <%= mail_to('specialist@artsy.net') %> or call one of our specialists at
                <%= link_to Convection.config.contact_phone_number, "tel:#{Convection.config.contact_phone_number}" %>.
              </td>
            </tr>
          </table>
        </table>
      </table>
    </td>
  </tr>
</table>
