<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='receipt-email'>
  <tr>
    <td>
      <table class='padded-email'>
        <tr>
          <td>
            <table class='email-content' align='center'>
              <tr>
                <td>
                  <%= render 'shared/email/email_header' %>
                </td>
              </tr>
              <tr>
                <td class='email-sub-title'>
                  Dear <%= @submission.name %>,
                </td>
              </tr>
              <tr>
                <td class='email-sub-title'>
                  Thank you for submitting an artwork to sell with <%= link_to 'Artsy', 'https://www.artsy.net', target: :_blank %>. We’ll reach out to you shortly with an update or if we require additional information.
                </td>
              </tr>
              <tr>
                <td class='email-sub-title-bold'>
                  What happens next?
                </td>
              </tr>
              <tr>
                <td class='email-sub-title'>
                  Our team of specialists will review your work to evaluate whether we currently have a suitable market for it. If your work is accepted, we’ll send you a sales offer and guide you in choosing the best option for selling it.
                </td>
              </tr>
              <tr>
                <td>
                  <%= render 'shared/email/submission_block', submission: @submission %>
                </td>
              </tr>
              <tr>
                <td>
                  Sincerely,
                </td>
              </tr>
              <tr>
                <td>
                  The Sell with Artsy Team
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>