<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='padded-email'>
  <tr>
    <td>
      <table class='email-content' align='left'>
        <tr>
          <td>
            <%= render 'shared/email/email_header' %>
          </td>
        </tr>
        <tr>
          <td class='email-sub-title'>
            <p>Dear <%= @submission.name %>,</p>
            <p>We are delighted to work with you to sell your work through <%= link_to 'Artsy', 'https://www.artsy.net', target: :_blank %>.</p>
            <p>Next, our team of specialists will provide auction estimates and potential sale dates and get back to you in 3-5 business days.</p>
          </td>
        </tr>
        <tr>
          <td>
            <%= render 'shared/email/submission_block', submission: @submission %>
          </td>
        </tr>
        <tr>
          <td>
            <p>If you have any questions, please do not hesitate to reach out to us at <%= link_to 'consign@artsymail.com', 'mailto:consign@artsymail.com', target: :_blank %></p>

            <p>Thank you,</p>
            <p>Artsy</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
