<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='bordered-email' align='center'>
  <tr>
    <td>
      <table class='email-content' align='center'>
        <%= render partial: 'shared/email_header' %>
        <td>
          <table class='medium-width-table' align='center'>
            <tr>
              <td class='email-title'>
                We’re unable to submit your work to our partner network without a photo
              </td>
            </tr>
          </table>
        </td>
        <tr>
          <td class='email-main-photo'>
            <%= image_tag(image_url('artsy-take-photo.jpg'), id: 'artsy-take-photo') %>
          </td>
        </tr>
        <tr>
        <tr>
          <td class='email-sub-title'>
            Upload photos of your work to complete your consignments submission.
          </td>
        </tr>
        </tr>
        <tr>
          <td>
            <%= link_to('Upload Photos', upload_photo_url(@submission.id, @utm_params), class: 'upload-photo-button') %>
          </td>
        </tr>
        <%= render partial: 'shared/email_footer' %>
      </table>
    </td>
  </tr>
</table>
