<p>Submission ID:<br /><%= @submission.id %></p>

<p>Artist:<br /><%= @artist_name %></p>

<p>Title:<br /><%= @submission.title %></p>

<p>Category:<br /><%= @submission.category %></p>

<p>Medium:<br /><%= @submission.medium %></p>

<p>Year:<br /><%= @submission.year %></p>

<p>Signed?:<br /><%= @submission.signature %></p>

<% if @submission.provenance %>
  <p>Provenance:<br /><%= @submission.provenance %></p>
<% end %>

<p>Location:<br /><%= formatted_location(@submission) %></p>

<% if formatted_dimensions(@submission) %>
  <p>Dimensions:<br /><%= formatted_dimensions(@submission) %></p>
<% end %>

<% @submission.processed_images.each do |image| %>
  <%= image_tag image.image_urls['square'] %>
<% end %>
