<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='padded-email'>
  <tr>
    <td>
      <table class='email-content' align='left'>
        <tr>
          <td>
            <%= render 'shared/email/email_header' %>
          </td>
        </tr>
        <tr>
          <td class='email-sub-title'>
            <p>
              Submission #<%= @submission.id %> from User <%= link_to "##{@user.gravity_user_id}", user_management_url(@user.gravity_user_id) %> (<%= @user.email %>) has been resubmitted.
            </p>
            <p>
              As the assigned representative, you have access to view and manage this submission in Convection.
            </p>
            <p>
              <%= link_to('View Submission', "#{Convection.config.convection_url}/admin/submissions/#{@submission.id}") %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <%= render 'shared/email/submission_block', submission: @submission %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
