<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Low estimate
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :low_estimate, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      High estimate
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :high_estimate, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Commission %
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :commission_percent_whole, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Sale name
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :sale_name, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Sale date
    </label>
    <div class='col-sm-9'>
      <%= f.date_field :sale_date, class: 'form-control' %>
    </div>
  </div>
</div>
