<%= link_to admin_offer_path(offer), class: 'list-group-item list-item--offer', data: { id: offer.id } do %>
  <div class='list-group-item-info list-group-item-info--id'>
    <%= offer.id %>
  </div>
  <div class='list-group-item-info'>
    <%= offer.partner_submission.partner.name %>
  </div>
  <div class='list-group-item-info'>
    <%= offer.created_at.strftime('%m/%d/%Y') %>
  </div>
  <div class='list-group-item-info'>
    <%= offer.price_cents %>
  </div>
  <div class='list-group-item-info'>
    <%= offer.commission_percent %>%
  </div>
  <div class='list-group-item-info'>
    <%= offer.state %>
  </div>
  <span class='icon-chevron-right'></span>
<% end %>
