<% truncated = false if local_assigns[:truncated].nil? %>

<%= link_to admin_offer_path(offer), class: 'list-group-item list-item--offer', data: { id: offer.id } do %>
  <div class='list-group-item-info'>
    <% if offer.locked? %>
      <div class='locked'>
        <%= image_tag(image_url('lock.svg'), id: 'lock') %>
      </div>
    <% else %>
      <div class='spacer'>
      </div>
    <% end %>
    <%= offer.created_at.strftime('%m/%d/%Y') %>
  </div>
  <div class='list-group-item-info'>
    <% if offer.state != Offer::SENT || offer.offer_responses.empty? %>
      <%= offer.state %>
    <% else %>
      <% offer_response = offer.offer_responses.order(created_at: :desc).first %>
      <% if offer_response.intended_state == Offer::ACCEPTED %>
        <div class='green'>
          Response: Accept
        </div>
      <% elsif offer_response.intended_state == Offer::REJECTED %>
        <div class='red'>
          Response: Reject
        </div>
      <% else %>
        <div class='purple-label'>
          Response: Interested
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='list-group-item-info'>
    <%= offer.partner_submission.submission.id %>
  </div>
  <div class='list-group-item-info'>
    <%= offer_artist(offer) %>, <%= offer.partner_submission.submission&.title&.truncate(30) %>
  </div>
  <% if truncated %>
    <div class='list-group-item-info'>
      <%= offer.partner.name %>
    </div>
  <% else %>
    <div class='list-group-item-info'>
      <%= offer.partner_submission.submission.user&.email %>
    </div>
    <div class='list-group-item-info'>
      <%= formatted_location(offer.partner_submission.submission)  %>
    </div>
    <div class='list-group-item-info'>
      <%= offer.partner.name %>
    </div>
    <div class='list-group-item-info'>
      <%= offer.estimate_display %>
    </div>
    <div class='list-group-item-info'>
      <% if offer.commission_percent %>
        <%= offer.commission_percent_whole %>
      <% else %>
      -
      <% end %>
    </div>
    <div class='list-group-item-info asset-thumb'>
      <% if offer.partner_submission.submission.thumbnail.present? %>
        <%= image_tag offer.partner_submission.submission.thumbnail %>
      <% end %>
      <span style="margin-left: auto" class='icon-chevron-right'></span>
    </div>     
  <% end %>
<% end %>
