<div class='modal remodal' data-remodal-id='reject-offer-modal'>
  <div class='modal-header'>
    <h3>
      Please select rejection reason
    </h3>
  </div>
  <div class='modal-close'>
    <%= link_to '', '#', id: 'reject-offer-close'%>
  </div>
  <div class='modal-content'>
    <div class='single-padding-top'>
      <div class='col-sm-12'>
        <%= form_for(@offer, url: admin_offer_path, method: :put) do |f| %>
          <%= f.hidden_field :state, value: 'rejected' %>
          <div class='row'>
            <div class='col-md-12'>
              <% Offer::REJECTION_REASONS.each do |rejection_reason| %>
                <div class='offer-type-radio'>
                  <%= f.radio_button :rejection_reason, rejection_reason, checked: (rejection_reason == @offer.rejection_reason || rejection_reason == Offer::REJECTION_REASONS.first), class: 'form-control' %>
                  <%= f.label :rejection_reason, rejection_reason, value: rejection_reason, class: 'control-label' %>
                </div>
              <% end %>
              <div class='row single-padding-top'>
                <div class='col-sm-12'>
                  <%= f.text_area :rejection_note, placeholder: 'Fill out reason', class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
          <div class='row triple-padding-top'>
            <div class='col-md-12'>
              <%= f.submit 'Save and Send', class: 'btn btn-primary btn-full-width' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
