<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Currency
    </label>
    <div class='col-sm-9'>
      <%= f.select :currency, Currency::SUPPORTED, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Photography
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :photography_info, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Shipping
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :shipping_info, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Insurance
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :insurance_info, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Deadline to consign
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :deadline_to_consign, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Other fees
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :other_fees_info, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Notes
    </label>
    <div class='col-sm-9'>
      <%= f.text_area :notes, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Partner Info
    </label>
    <div class='col-sm-9'>
      <%= f.text_area :partner_info, class: 'form-control' %>
    </div>
  </div>
</div>
