<div class='overview-item'>
  <div class='overview-item-title'>
    Currency
  </div>
  <div class='overview-item-value'>
    <%= @offer.currency %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Photography
  </div>
  <div class='overview-item-value'>
    <%= @offer.photography_display %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Shipping
  </div>
  <div class='overview-item-value'>
    <%= @offer.shipping_display %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Insurance
  </div>
  <div class='overview-item-value'>
    <%= @offer.insurance_display %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Insurance %
  </div>
  <div class='overview-item-value'>
    <%= @offer.insurance_percent_whole %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Other fees
  </div>
  <div class='overview-item-value'>
    <%= @offer.other_fees_display %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Other fees %
  </div>
  <div class='overview-item-value'>
    <%= @offer.other_fees_percent_whole %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Notes
  </div>
  <div class='overview-item-value'>
    <%= markdown_formatted(@offer.notes) %>
  </div>
</div>
