<div class='overview-item'>
  <div class='overview-item-title'>
    Currency
  </div>
  <div class='overview-item-value'>
    <%= @offer.currency %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Photography cents
  </div>
  <div class='overview-item-value'>
    <%= @offer.photography_cents %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Shipping cents
  </div>
  <div class='overview-item-value'>
    <%= @offer.shipping_cents %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Insurance cents
  </div>
  <div class='overview-item-value'>
    <%= @offer.insurance_cents %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Insurance %
  </div>
  <div class='overview-item-value'>
    <%= @offer.insurance_percent %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Other fees cents
  </div>
  <div class='overview-item-value'>
    <%= @offer.other_fees_cents %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Other fees %
  </div>
  <div class='overview-item-value'>
    <%= @offer.other_fees_percent %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Notes
  </div>
  <div class='overview-item-value'>
    <%= @offer.notes %>
  </div>
</div>
