<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Currency
    </label>
    <div class='col-sm-9'>
      <%= f.select :currency, Offer::CURRENCIES, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Photography cents
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :photography_cents, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Shipping cents
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :shipping_cents, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Insurance cents
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :insurance_cents, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Insurance %
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :insurance_percent, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Other fees cents
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :other_fees_cents, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Other fees %
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :other_fees_percent, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Notes
    </label>
    <div class='col-sm-9'>
      <%= f.text_area :notes, class: 'form-control' %>
    </div>
  </div>
</div>
