<% if @offer.draft? %>
  <div class='overview-section'>
    <div class='single-padding-top'>
      <div>
        <%= link_to 'Save & Send', admin_offer_path(@offer, offer: { state: 'sent' }), method: :put, class: 'btn btn-secondary btn-small btn-full-width', data: { confirm: 'This action will send the offer to the collector. This action cannot be undone.' } %>
      </div>
      <div class='single-padding-top'>
        <%= link_to 'Edit', edit_admin_offer_path(@offer), class: 'btn btn-secondary btn-small btn-full-width' %>
      </div>
      <div class='single-padding-top'>
        <%= link_to('Delete', admin_offer_path(@offer), method: :delete, class: 'btn btn-delete btn-small btn-full-width',
              id: 'offer-delete-button',
              data: { confirm: 'This action will delete the offer. This action cannot be undone.' }) %>
      </div>
    </div>
  </div>
<% elsif @offer.sent? %>
  <div class='overview-section'>
    <div class='single-padding-top'>
      <div>
        <%= link_to 'Reject Offer', '#', { 'data-remodal-target' => 'reject-offer-modal', class: 'btn btn-small btn-delete btn-full-width' } %>
      </div>
      <div class='single-padding-top'>
        <%= link_to('Accept Offer', admin_offer_path(@offer, offer: { state: 'accepted' }), method: :put, class: 'btn btn-secondary btn-small btn-full-width',
              data: { confirm: 'This action will accept the offer and email the partner whose offer has been accepted. This action cannot be undone.' }) %>
      </div>
      <div class='single-padding-top'>
        <%= link_to('Offer Lapsed', admin_offer_path(@offer, offer: { state: 'lapsed' }), method: :put, class: 'btn btn-secondary btn-small btn-full-width',
              data: { confirm: 'This action will mark the consignment as lapsed. This action cannot be undone.' }) %>
      </div>
    </div>
  </div>
<% end %>

<% if @offer.reviewed? %>
  <div class='overview-section'>
    <div class='bold-label'>
      Internal Approval
    </div>
    <div class='single-padding-top'>
      <%= reviewed_byline(@offer) %>
    </div>
  </div>
<% end %>
