<div class='page-title'>
  <h2>Offers</h2>
</div>

<div class='container'>
  <div class='row triple-padding-top'>
    <div class='col-md-2'>
      <div class='flex-label'>
        <div class='left'><%= link_to 'All', admin_offers_path %></div>
        <div class='right'><%= offers_count %></div>
      </div>
      <div class='flex-label'>
        <div class='left'><%= link_to 'Draft', admin_offers_path(state: 'draft') %></div>
        <div class='right'><%= counts['draft'] || 0 %></div>
      </div>
      <div class='flex-label'>
        <div class='left'><%= link_to 'Sent', admin_offers_path(state: 'sent') %></div>
        <div class='right'><%= counts['sent'] || 0 %></div>
      </div>
      <div class='flex-label'>
        <div class='left'><%= link_to 'Accepted', admin_offers_path(state: 'accepted') %></div>
        <div class='right'><%= counts['accepted'] || 0 %></div>
      </div>
      <div class='flex-label'>
        <div class='left'><%= link_to 'Rejected', admin_offers_path(state: 'rejected') %></div>
        <div class='right'><%= counts['rejected'] || 0 %></div>
      </div>
    </div>
    <div class='col-md-10'>
      <div class='list-group'>
        <%= render offers %>
      </div>
    </div>
  </div>
  <%= render 'shared/watt/paginator', total_items_count: offers.total_count, items_count: offers.length, per_page: @size, current_page: @page, base_url: admin_offers_url(filters) %>
</div>
