<div class='page-title'>
  <h2>
    Offers
  </h2>
</div>

<div class='container double-padding-top'>
  <div class='row'>
    <div class='row col-md-12'>
      <%= text_field_tag 'term', display_term, class: 'form-control', placeholder: 'Search by ID, partner name, user email, or artist', id: 'offer-search-form' %>
    </div>
    <div class='row col-md-12' style="padding: 25px 15px 25px 0;">
      <%= form_tag admin_offers_url, method: 'get', id: 'offer-filter-form' do %>
        <%= hidden_field_tag :user, filters[:user] %>
        <%= hidden_field_tag :partner, filters[:partner] %>
        <%= hidden_field_tag :artist, filters[:artist] %>
        <div class='col-md-6'>
          <label>State</label>
          <%= select_tag 'state',
                        options_for_select(
                            Offer::STATES.map{ |state| [state, state] }.unshift(['all', nil], ['sent with response', 'sent with response']),
                          filters[:state]
                        ),
                        class: 'form-control',
                        onchange: ("$('#offer-filter-form').submit()") %>
        </div>
        <div class='col-md-6' style="padding: 0;">
          <label>Assigned to</label>
          <%= select_tag 'assigned_to',
                        options_for_select(
                          filter_by_assigned_to_options,
                          filters[:assigned_to]
                        ),
                        class: 'form-control',
                        onchange: ("$('#offer-filter-form').submit()") %>
        </div>
      <% end %>
    </div>
    <div class='row col-md-12'>
      <div class='list-group-item list-item--offer'>
        <div class='list-group-item-info bold-label'>
          <%= render 'admin/shared/sort_label', filters: filters, sort_field: 'offers.created_at', label: 'Offer Date' %>
        </div>
        <div class='list-group-item-info bold-label'>
          Status
        </div>
        <div class='list-group-item-info bold-label'>
          Submission ID
        </div>
        <div class='list-group-item-info bold-label'>
          Artist, Title
        </div>
        <div class='list-group-item-info bold-label'>
          User Email
        </div>
        <div class='list-group-item-info bold-label'>
          Location
        </div>
        <div class='list-group-item-info bold-label'>
          <%= render 'admin/shared/sort_label', filters: filters, sort_field: 'partners.name', label: 'Partner' %>
        </div>
        <div class='list-group-item-info bold-label'>
          <%= render 'admin/shared/sort_label', filters: filters, sort_field: 'offers.low_estimate_cents', label: 'Estimate' %>
        </div>
        <div class='list-group-item-info bold-label'>
          Commission
        </div>
        <div class='list-group-item-info bold-label'>
        Thumbnail
        </div>
      </div>
      <%= render offers %>
    </div>
    <%= render 'shared/watt/paginator', total_items_count: offers.total_count, items_count: offers.length, per_page: size, current_page: page, base_url: admin_offers_url(filters) %>
  </div>
</div>
