<div class='page-title'>
  <h2>New Offer</h2>
  <p class='single-padding-top'>
    <%= @offer.offer_type.capitalize %> offer for Submission #<%= submission.id %> by <%= partner.name %>
  </p>
</div>

<div class='container'>
  <%= form_for(@offer, url: admin_offers_path, method: :post) do |f| %>
    <%= hidden_field_tag :submission_id, submission.id %>
    <%= hidden_field_tag :partner_id, partner.id %>
    <%= hidden_field_tag 'offer[offer_type]', @offer.offer_type %>
    <%= hidden_field_tag 'offer[partner_info]', @offer.partner_info %>
    <div class='row'>
      <div class='col-md-12'>
        <div class='unit bordered single-padding-top'>
          <div class='col-md-3'>
            <h5>
              <%= @offer.offer_type.capitalize %> fields
            </h5>
          </div>
          <div class='col-md-9'>
            <%= render "#{@offer.offer_type.downcase.tr(' ', '_')}_form", f: f %>
          </div>
        </div>
      </div>
    </div>
    <div class='row double-padding-top'>
      <div class='col-md-12'>
        <div class='unit bordered double-padding-top'>
          <div class='col-md-3'>
            <h5>
              Shared fields
            </h5>
          </div>
          <div class='col-md-9'>
            <%= render 'shared_form', f: f %>
          </div>
        </div>
      </div>
    </div>
    <div class='row triple-padding-top'>
      <div class='col-md-12'>
        <%= f.submit 'Create', class: 'btn btn-primary btn-full-width' %>
      </div>
    </div>
  <% end %>
</div>
