<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='padded-email offer-email'>
  <tr>
    <td>
      <table class='email-content' align='left'>
        <tr>
          <td>
            <%= render 'shared/email_header' %>
          </td>
        </tr>
        <tr>
          <td class='email-title-centered'>
            Great news, your offer has been accepted.
          </td>
        </tr>
        <tr>
          <td class='spacer'></td>
        </tr>
        <tr>
          <td class='email-sub-title-serif'>
            Your offer has been reviewed, and the consignor has elected to accept your offer. An Artsy representative will reach out to you soon to move forward with next steps. For your reference, the details of your offer are included below.
          </td>
        </tr>
        <tr>
          <td class='spacer'></td>
        </tr>
        <tr>
          <td class='zero-padding'>
            <%= render 'shared/submission_offer_block' %>
          </td>
        </tr>
        <tr>
          <td class='zero-padding'>
            <table class='email-gray-bordered-section zero-border-top'>
              <tr>
                <td class='spacer'></td>
              </tr>
              <tr>
                <td class='two-column'>
                  <div class="column first-column">
                    <table width="100%">
                      <tr>
                        <td>
                          <table>
                            <tr>
                              <td class='email-gray-label email-gray-label--left'>
                                Offer Status
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="column second-column">
                    <table width="100%">
                      <tr>
                        <td class="inner">
                          <table>
                            <tr>
                              <td class='email-content-serif green'>
                                Accepted
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
              <tr>
                <td class='spacer'></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class='zero-padding'>
            <%= render 'shared/offer_block' %>
          </td>
        </tr>
        <% if @offer.notes.present? %>
          <%= render 'shared/offer_note', label: 'Note' %>
        <% end %>
        <tr>
          <td class='spacer'></td>
        </tr>
        <tr>
          <td class='email-sub-title-serif'>
            Sincerely, <br />Collector Relations Team
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
