<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='padded-email'>
  <tr>
    <td>
      <table class='email-content submission-batch-email' align='center'>
        <tr>
          <td>
            <%= render 'shared/email/email_header' %>
          </td>
        </tr>
        <tr>
          <td class='email-title sans-serif'>
            New works available from Artsy collectors
          </td>
        </tr>
        <tr>
          <td class='email-sub-title sans-serif'>
            Desirable works are often consigned within the first 48 hours, so please make your offers within 2 business days.
          </td>
        </tr>
        <tr>
          <td class='email-sub-title-gray'>
            Submissions as of <%= formatted_current_time %>
          </td>
        </tr>
        <tr>
          <td>
            <% @users_to_submissions.each do |user, submissions| %>
              <tr>
                <td class='consignor-header'>
                  <p class='consignor-id'>Consignor <%= user.consignor_number + submissions.first.id %></p>
                  <span class='consignor-works-count'><%= pluralize(submissions.count, 'work') %></span>
                </td>
              </tr>
              <% submissions.each do |submission| %>
                <tr>
                  <td>
                    <%= render 'shared/email/submission_digest_block', submission: submission %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td class='consignor-border'><p></p></td>
              </tr>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <table class='submission-batch-todo sans-serif'>
              <% if @partner_type == 'Auction' %>
                <tr>
                  <td class='email-sub-title email-sub-title--extra-padding-bottom email-sub-title--extra-padding-top'>
                    Please click below to send one proposal per submission and respond directly to this email if you have any questions.
                  </td>
                </tr>
                <tr>
                  <td>
                      <table class='full-width-button'>
                        <tr>
                            <td class='submit-proposal-button'>
                              <%= link_to('Submit Proposal', offer_form_url) %>
                            </td>
                        </tr>
                      </table>

                  </td>
                </tr>
              <% else %>
                <tr>
                  <td class='email-sub-title'>
                    Please respond directly to this email with your proposal, or if you have any questions.
                  </td>
                </tr>
              <% end %>

              <tr>
                <td class="email-sub-title gray <%= @partner_type == 'Auction' ? 'email-sub-title--extra-padding-top' : ''%>">
                  Sincerely,<br />The Consignments Team
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
