<%= link_to admin_consignment_path(consignment), class: 'list-group-item list-item--consignment', data: { id: consignment.id } do %>
  <div class='list-group-item-info list-group-item-info--id'>
    #<%= consignment.reference_id %>
  </div>
  <div class='list-group-item-info list-group-item-info--partner-name'>
    <%= consignment.partner.name %>
  </div>
  <div class='list-group-item-info'>
    <%= consignment.sale_price_cents %>
  </div>
  <div class='list-group-item-info'>
    <%= consignment.partner_commission_percent %>%
  </div>
  <div class='list-group-item-info'>
    <%= consignment.state %>
  </div>
  <span class='icon-chevron-right'></span>
<% end %>
