<%= link_to admin_consignment_path(consignment), class: 'list-group-item list-item--consignment', data: { id: consignment.id } do %>
  <div class='list-group-item-info'>
    <%= consignment.accepted_offer&.created_at&.strftime('%m/%d/%Y') %>
  </div>
  <div class='list-group-item-info'>
    <%= consignment.state %>
  </div>
  <div class='list-group-item-info'>
    <%= consignment.submission.id %>
  </div>
   <div class='list-group-item-info'>
    <%= artist %>, <%= consignment.submission&.title&.truncate(30) %>
  </div>
  <div class='list-group-item-info'>
    <%= consignment.submission.user&.email %>
  </div>
  <div class='list-group-item-info'>
    <%= formatted_location(consignment.submission)  %>
  </div>
  <div class='list-group-item-info list-group-item-info--partner-name'>
    <%= consignment.partner.name %>
  </div>
  <div class='list-group-item-info'>
    <%= estimate_display(consignment.accepted_offer) %>
  </div>
  <div class='list-group-item-info'>
    <% if consignment.accepted_offer&.commission_percent %>
      <%= consignment.accepted_offer&.commission_percent_whole %>
    <% else %>
    -
    <% end %>
  </div>
  <div class='list-group-item-info asset-thumb'>
    <% if consignment.submission.thumbnail.present? %>
      <%= image_tag consignment.submission.thumbnail %>
    <% end %>
    <span style="margin-left: auto" class='icon-chevron-right'></span>
  </div>
<% end %>
