<%= link_to admin_consignment_path(consignment), class: 'list-group-item list-item--consignment', data: { id: consignment.id } do %>
  <div class='list-group-item-info'>
    <%= consignment.state %>
  </div>
  <div class='list-group-item-info'>
    #<%= consignment.reference_id %>
  </div>
  <div class='list-group-item-info'>
    <%= consignment&.accepted_offer&.accepted_at&.strftime('%m/%d/%Y') %>
  </div>
  <div class='list-group-item-info list-group-item-info--partner-name'>
    <%= consignment.partner.name %>
  </div>
  <div class='list-group-item-info'>
    <%= consignment&.accepted_offer&.offer_type %>
  </div>
  <span class='icon-chevron-right'></span>
<% end %>
