<div class='page-title'>
  <h2>
    Consignments
  </h2>
</div>

<div class='container double-padding-top'>
  <div class='row'>
    <div class='row col-md-12'>
      <%= text_field_tag 'term', display_term, class: 'form-control', placeholder: 'Search by ID, user name, partner or artist', id: 'consignments-search-form' %>
    </div>
    <div class='row col-md-12' style="padding: 25px 15px 25px 0;">
      <%= form_tag admin_consignments_url, method: 'get', id: 'consignment-filter-form' do %>
        <%= hidden_field_tag :user, filters[:user] %>
        <%= hidden_field_tag :partner, filters[:partner] %>
        <%= hidden_field_tag :artist, filters[:artist] %>
        <div class='col-md-6'>
          <label>State</label>
          <%= select_tag 'state',
                        options_for_select(
                            PartnerSubmission::STATES.map{ |state| [state, state] }.unshift(['all', nil]),
                          filters[:state]
                        ),
                        class: 'form-control',
                        onchange: ("$('#consignment-filter-form').submit()") %>
        </div>
        <div class='col-md-6' style="padding: 0;">
          <label>Assigned to</label>
          <%= select_tag 'assigned_to',
                        options_for_select(
                          Convection.config.admin_names.map { |name| [name, name] }.unshift(['all', 'all'], ['none', nil]),
                          filters[:assigned_to]
                        ),
                        class: 'form-control',
                        onchange: ("$('#consignment-filter-form').submit()") %>
        </div>
      <% end %>
    </div>
    <div class='row col-md-12'>
      <div class='list-group-item list-item--offer'>
        <div class='list-group-item-info bold-label'>
          Offer Date
        </div>
        <div class='list-group-item-info bold-label'>
          Status
        </div>
        <div class='list-group-item-info bold-label'>
          <%= render 'admin/shared/sort_label', filters: filters, sort_field: 'id', label: 'Submission ID' %>
        </div>
        <div class='list-group-item-info bold-label'>
          Artist, Title
        </div>
        <div class='list-group-item-info bold-label'>
          User Email
        </div>
        <div class='list-group-item-info bold-label'>
          Artwork Location
        </div>
        <div class='list-group-item-info bold-label'>
          <%= render 'admin/shared/sort_label', filters: filters, sort_field: 'partners.name', label: 'Partner' %>
        </div>
        <div class='list-group-item-info bold-label'>
          <%= render 'admin/shared/sort_label', filters: filters, sort_field: 'offers.high_estimate_cents', label: 'Estimate' %>
        </div>
        <div class='list-group-item-info bold-label'>
          Commission
        </div>
        <div class='list-group-item-info bold-label'>
        Thumbnail
        </div>
      </div>
      <div class='list-group'>
        <% consignments.each do |consignment| %>
          <%= render 'admin/consignments/consignment', consignment: consignment, artist: artist_details&.dig(consignment.submission.artist_id) %>
        <% end %>
      </div>
    </div>
    <%= render 'shared/watt/paginator', total_items_count: consignments.total_count, items_count: consignments.length, per_page: size, current_page: page, base_url: admin_consignments_url(filters) %>
  </div>
</div>
