<div class='page-title'>
  <h2>
    Consignments
  </h2>
</div>

<div class='container double-padding-top'>
  <div class='row'>
    <div class='row col-md-12'>
      <div class='col-md-3'>
        <%= form_tag admin_consignments_url, method: 'get', id: 'consignment-state-select' do %>
          <div class='form-group'>
            <%= select_tag 'state',
                          options_for_select(['all', PartnerSubmission::STATES].flatten, filters[:state]),
                          class: 'form-control',
                          onchange: ("$('#consignment-state-select').submit()") %>
          </div>
        <% end %>
      </div>
      <div class='col-md-9'>
        <%= form_tag admin_consignments_url, id: 'term-search', method: 'get' do %>
          <div class='form-group'>
            <%= text_field_tag 'term', term, class: 'form-control', placeholder: 'Search by ID or partner' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class='row col-md-12'>
      <div class='list-group-item list-item--offer'>
        <div class='list-group-item-info bold-label'>
          State
        </div>
        <div class='list-group-item-info bold-label'>
          ID
        </div>
        <div class='list-group-item-info bold-label'>
          Date
        </div>
        <div class='list-group-item-info bold-label'>
          Partner
        </div>
        <div class='list-group-item-info bold-label'>
          Offer Type
        </div>
        <div class='spacer'>
        </div>
      </div>
      <div class='list-group'>
        <%= render partial: 'admin/consignments/consignment', collection: consignments %>
      </div>
    </div>
    <%= render 'shared/watt/paginator', total_items_count: consignments.total_count, items_count: consignments.length, per_page: @size, current_page: @page, base_url: admin_consignments_url(filters) %>
  </div>
</div>
