<div class='overview-section'>
  <div class='bold-label'>Collector info</div>
  <div class='single-padding-top'>
    <% if @partner_name %>
      <div class="consigned-partner-name">
        <%= @partner_name%>
      </div>
    <% end %>
    <div>
      <%= submission.name %>
    </div>
    <div class="sidebar-link-2" >
      <%= link_to "#{submission.count_submissions_of_user} submissions made", admin_submissions_path(user: submission.user_id) %>
    </div>
    <div>
      <%= submission.email %>
    </div>
    <div>
      <%= submission.phone %>
    </div>
  </div>
</div>
