<div class='overview-section'>
  <div class='bold-label'>Collector info</div>
  <div class='single-padding-top'>
    <% if @partner_name %>
      <div class="consigned-partner-name">
        <%= @partner_name%>
      </div>
    <% end %>
    <div>
      <%= submission.user&.name %>
    </div>
    <div>
      <%= submission.user&.submissions&.count || 0 %> submissions made
    </div>
    <div>
      <%= submission.user&.user_detail&.email %>
    </div>
    <div>
      <%= submission.user&.user_detail&.phone %>
    </div>
  </div>
</div>
