<div class='overview-section'>
  <div class='bold-label'>Collector info</div>
  <div class='single-padding-top'>
    <% if @partner_name %>
      <div class="consigned-partner-name">
        <%= @partner_name%>
      </div>
    <% end %>
    <div>
      <% if submission.user %>
        <%= link_to submission.name.presence || submission.user.gravity_user_id, user_management_url(submission.user.gravity_user_id), class: "smaller-sidebar-link" %>
      <% else %>
        <%= submission.name %>
      <% end %>
    </div>
    <div class="smaller-sidebar-link" >
      <%= link_to "#{submission.count_submissions_of_user} submissions made", admin_submissions_path(user: submission.user_id, user_email: submission.email) %>
    </div>
    <div>
      <%= submission.email %>
    </div>
    <div>
      <%= submission.phone %>
    </div>
  </div>
</div>
