<div class='overview-item'>
  <div class='overview-item-title'>
    Artist/Designer
  </div>
  <div class='overview-item-value'>
    <%= @artist&.[](:name)&.upcase %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Title
  </div>
  <div class='overview-item-value'>
    <em><%= @submission.title %></em>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Signature
  </div>
  <div class='overview-item-value'>
    <%= @submission.signature %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Category
  </div>
  <div class='overview-item-value'>
    <%= @submission.category %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Medium
  </div>
  <div class='overview-item-value'>
    <%= @submission.medium %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Edition Size
  </div>
  <div class='overview-item-value'>
    <%= @submission.edition_size %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Edition Number
  </div>
  <div class='overview-item-value'>
    <%= @submission.edition_number %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Dimensions
  </div>
  <div class='overview-item-value'>
    <% formatted_dimensions_inch_cm(@submission).map do |formatted_dimension| %>
      <div><%= formatted_dimension %></div>
    <% end %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Year
  </div>
  <div class='overview-item-value'>
    <%= @submission.year %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Provenance
  </div>
  <div class='overview-item-value'>
    <strong><%= @submission.provenance %></strong>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Certificate of auth.
  </div>
  <div class='overview-item-value'>
    <%= @submission.authenticity_certificate %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    COA by authenticating body
  </div>
  <div class='overview-item-value'>
    <%= @submission.coa_by_authenticating_body ? 'Yes' : 'No' %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    COA by gallery
  </div>
  <div class='overview-item-value'>
    <%= @submission.coa_by_gallery ? 'Yes' : 'No' %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Location
  </div>
  <div class='overview-item-value'>
    <%= formatted_location(@submission) %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Price in mind
  </div>
  <div class='overview-item-value minimum-price'>
    <%= formatted_minimum_price(@submission) %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Supply Priority
  </div>
  <div class='overview-item-value supply-priority'>
    <%= @artist && artist_supply_priority(**@artist) %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Auction Score
  </div>
  <div class='overview-item-value auction-score'>
    <%= formatted_score(@submission.auction_score) %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Artist Score
  </div>
  <div class='overview-item-value artist-score'>
    <%= formatted_score(@submission.artist_score) %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Created At
  </div>
  <div class='overview-item-value'>
    <%= @submission.created_at&.strftime('%b %-d @ %l:%M %p %Z') %>
  </div>
</div>
