<%= link_to admin_submission_path(submission), class: 'list-group-item list-item--submission', data: { id: submission.id } do %>
  <div class='list-group-item-info list-group-item-info--id'>
    <%= submission.id %>
  </div>
  <div class='list-group-item-info asset-thumb'>
    <% if submission.thumbnail.present? %>
      <%= image_tag submission.thumbnail %>
    <% end %>
  </div>
  <div class='list-group-item-info'>
    <%= submission.created_at.strftime('%m/%d/%Y') %>
  </div>
  <div class='list-group-item-info'>
    <% if artist_details.present? %>
      <%= artist_details[submission.artist_id] %>
    <% end %>
  </div>
  <div class='list-group-item-info'>
    <%= submission.category %>
  </div>
  <div class='list-group-item-info'>
    <%= submission.state %>
  </div>
  <span class='icon-chevron-right'></span>
<% end %>
