<div class='page-title'>
  <h2>Submissions</h2>
</div>

<div class='container'>
  <div class='row double-padding-top'>
    <div class='col-md-2'>
      <div class='flex-label'>
        <div class='left'><%= link_to 'All', admin_submissions_path %></div>
        <div class='right'><%= @completed_submissions_count %></div>
      </div>
      <div class='flex-label'>
        <div class='left'><%= link_to 'Unreviewed', admin_submissions_path(state: 'submitted') %></div>
        <div class='right'><%= @counts['submitted'] || 0 %></div>
      </div>
      <div class='flex-label'>
        <div class='left'><%= link_to 'Approved', admin_submissions_path(state: 'approved') %></div>
        <div class='right'><%= @counts['approved'] || 0 %></div>
      </div>
      <div class='flex-label'>
        <div class='left'><%= link_to 'Rejected', admin_submissions_path(state: 'rejected') %></div>
        <div class='right'><%= @counts['rejected'] || 0 %></div>
      </div>
      <div class='row double-padding-top'>
        <%= link_to 'New', new_admin_submission_path, class: 'btn btn-tiny btn-full-width' %>
      </div>
    </div>
    <div class='col-md-10'>
      <div class='row col-md-12'>
        <%= form_tag admin_submissions_url, method: 'get' do %>
          <div class='form-group'>
            <div class='col-sm-10'>
              <%= text_field_tag 'term', @term, class: 'form-control', placeholder: 'Search by ID or title' %>
            </div>
            <div class='col-sm-2'>
              <%= submit_tag 'Search', class: 'btn btn-primary btn-full-width btn-tiny' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class='row col-md-12 double-padding-top'>
        <div class='list-group'>
          <%= render @submissions, artist_details: @artist_details %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/watt/paginator', total_items_count: @submissions.total_count, items_count: @submissions.length, per_page: @size, current_page: @page, base_url: admin_submissions_url(@filters) %>
</div>
