<div class='page-title'>
  <h2>
    Submissions
  </h2>
</div>

<div class='container double-padding-top'>
  <div class='row'>
    <div class='row col-md-12'>
      <%= form_tag admin_submissions_url, method: 'get', id: 'submission-filter-form' do %>
        <div class='col-md-3'>
          <div class='form-group'>
            <%= select_tag 'state',
                          options_for_select(
                            Submission::STATES.map{ |state| [state, state] }.unshift(['all', nil]),
                            @filters[:state]
                          ),
                          class: 'form-control',
                          onchange: ("$('#submission-filter-form').submit()") %>
          </div>
        </div>
        <div class='col-md-7'>
          <div class='form-group'>
            <%= text_field_tag 'term', @term, class: 'form-control', placeholder: 'Search by ID, title, or user email', id: 'submission-search-form' %>
          </div>
        </div>
      <% end %>
      <div class='col-md-2'>
        <%= link_to 'Create New', new_admin_submission_path, class: 'btn btn-small btn-primary btn-full-width' %>
      </div>
    </div>
    <div class='row col-md-12'>
      <div class='list-group-item list-item--submission'>
        <div class='list-group-item-info bold-label list-group-item-info--state'>
          State
        </div>
        <div class='list-group-item-info bold-label list-group-item-info--id'>
          ID
        </div>
        <div class='list-group-item-info bold-label list-group-item-info--email'>
          Email
        </div>
        <div class='list-group-item-info bold-label'>
          Date
        </div>
        <div class='list-group-item-info bold-label'>
          Artist
        </div>
        <div class='list-group-item-info bold-label'>
          Title
        </div>
        <div class='list-group-item-info bold-label'>
        </div>
        <div class='icon-spacer'>
        </div>
      </div>
      <%= render @submissions, artist_details: @artist_details %>
    </div>
    <%= render 'shared/watt/paginator', total_items_count: @submissions.total_count, items_count: @submissions.length, per_page: @size, current_page: @page, base_url: admin_submissions_url(@filters) %>
  </div>
</div>
