<div class='page-title'>
  <%= link_to 'Create New', new_admin_submission_path, class: 'btn btn-small btn-primary pull-right' %>
  <h2>
    Submissions
  </h2>
</div>

<div class='container double-padding-top'>
  <div class='row'>
    <div class='row col-md-12'>
      <%= text_field_tag 'term', display_term, class: 'form-control', placeholder: 'Search by ID, title, user email, or artist', id: 'submission-search-form' %>
    </div>
    <div class='row col-md-12' style="padding: 25px 15px 25px 0;">
      <%= form_tag admin_submissions_url, method: 'get', id: 'submission-filter-form' do %>
        <%= hidden_field_tag :user, filters[:user] %>
        <%= hidden_field_tag :artist, filters[:artist] %>
        <div class='col-md-3'>
          <label>State</label>
          <%= select_tag 'state',
                        options_for_select(
                          Submission::STATES.map{ |state| [state, state] }.unshift(['all', nil]),
                          filters[:state]
                        ),
                        class: 'form-control',
                        onchange: ("$('#submission-filter-form').submit()") %>
        </div>
        <div class='col-md-3' style="padding: 0 15px 0 0;">
          <label>Assigned to</label>
          <%= select_tag 'assigned_to',
                        options_for_select(
                          filter_by_assigned_to_options,
                          filters[:assigned_to]
                        ),
                        class: 'form-control',
                        onchange: ("$('#submission-filter-form').submit()") %>
        </div>
        <div class='col-md-3' style="padding: 0 15px 0 0;">
          <label>Cataloguer</label>
          <%= select_tag 'cataloguer',
                        options_for_select(
                          filter_by_cataloguers_options,
                          filters[:cataloguer]
                        ),
                        class: 'form-control',
                        onchange: ("$('#submission-filter-form').submit()") %>
        </div>
        <div class='col-md-3' style="padding: 0;">
          <label>Category</label>
          <%= select_tag 'category',
                        options_for_select(
                          Submission::CATEGORIES.map{ |category| [category, category] }.unshift(['all', nil]),
                          filters[:category]
                        ),
                        class: 'form-control',
                        onchange: ("$('#submission-filter-form').submit()") %>
        </div>
      <% end %>
    </div>
    <div class='row col-md-12'>
      <div class='list-group-item list-item--submission'>
        <div class='list-group-item-info bold-label'>
          Date Submitted
        </div>
        <div class='list-group-item-info bold-label list-group-item-info--state'>
          Status
        </div>
         <div class='list-group-item-info bold-label'>
          By
        </div>
        <div class='list-group-item-info bold-label list-group-item-info--id'>
          <%= render 'admin/shared/sort_label', filters: filters, sort_field: 'id', label: 'ID' %>
        </div>
        <div class='list-group-item-info bold-label'>
          Artist
        </div>
        <div class='list-group-item-info bold-label'>
          Title
        </div>
        <div class='list-group-item-info bold-label list-group-item-info--email'>
          <%= render 'admin/shared/sort_label', filters: filters, sort_field: 'users.email', label: 'User Email' %>
        </div>
        <div class='list-group-item-info bold-label'>
          Artwork Location
        </div>
        <div class='list-group-item-info bold-label'>
          <%= render 'admin/shared/sort_label', filters: filters, sort_field: 'offers_count', label: 'Number of Offers' %>
        </div>
        <div class='list-group-item-info bold-label'>
        </div>
        <div class='icon-spacer'>
        </div>
      </div>
      <% submissions.each do |submission| %>
        <%= render 'admin/submissions/submission', submission: submission, artist: artist_details&.dig(submission.artist_id) %>
      <% end %>
    </div>
    <%= render 'shared/watt/paginator', total_items_count: submissions.total_count, items_count: submissions.length, per_page: size, current_page: page, base_url: admin_submissions_url(filters) %>
  </div>
</div>
