<div class='page-title'>
  <h2>Submissions</h2>
</div>

<div class='container'>
  <div class='row triple-padding-top'>
    <div class='col-md-12'>
      <div class='list-group'>
        <% @submissions.each do |submission| %>
          <div class='list-group-item'>
            <span class='list-group-item-content'>
              <span class='list-group-item-label'>
                <%= link_to "Submission #{submission.id}", admin_submission_path(submission) %>
              </span>
              <span class='list-group-item-info'><%= submission.title %></span>
              <span class='list-group-item-info'><%= submission.user_id %></span>
            </span>
            <span class='actions'>
              <%= link_to 'Edit', edit_admin_submission_path(submission), class: 'btn btn-tiny' %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'shared/watt/paginator', locals: { total_items_count: @submissions.total_count, items_count: @submissions.length, per_page: @size, current_page: @page, base_url: admin_submissions_url } %>
</div>
