<div class='page-title'>
  <h2>Submissions</h2>
</div>

<div class='container'>
  <div class='row triple-padding-top'>
    <div class='col-md-2'>
      <div class='flex-label'>
        <div class='left'><%= link_to 'All', admin_submissions_path %></div>
        <div class='right'><%= @completed_submissions_count %></div>
      </div>
      <div class='flex-label'>
        <div class='left'><%= link_to 'Unreviewed', admin_submissions_path(state: 'submitted') %></div>
        <div class='right'><%= @counts['submitted'] || 0 %></div>
      </div>
      <div class='flex-label'>
        <div class='left'><%= link_to 'Approved', admin_submissions_path(state: 'approved') %></div>
        <div class='right'><%= @counts['approved'] || 0 %></div>
      </div>
      <div class='flex-label'>
        <div class='left'><%= link_to 'Rejected', admin_submissions_path(state: 'rejected') %></div>
        <div class='right'><%= @counts['rejected'] || 0 %></div>
      </div>
      <div class='row double-padding-top'>
        <%= link_to 'New', new_admin_submission_path, class: 'btn btn-tiny btn-full-width' %>
      </div>
    </div>
    <div class='col-md-10'>
      <div class='list-group'>
        <%= render @submissions %>
      </div>
    </div>
  </div>
  <%= render 'shared/watt/paginator', total_items_count: @submissions.total_count, items_count: @submissions.length, per_page: @size, current_page: @page, base_url: admin_submissions_url(@filters) %>
</div>
