<div class='row'>
  <div class='col-sm-12'>
    <div class='col-md-8'>
      <div class='col-md-12'>
        <div class='watt-overview'>
          <div class='overview-section'>
            <div class='overview-section-title--inline'>
              Details
              <span class='overview-section-title--inline__link'>
                <%= link_to 'Edit', edit_admin_submission_path(@submission) %>
              </span>
            </div>
            <%= render 'submission_details', submission: @submission %>
          </div>
          <div class='overview-section'>
            <div class='overview-section-title--inline'>
              Assets
              <span class='overview-section-title--inline__link'>
                <%= link_to 'Add New', new_admin_submission_asset_path(@submission) %>
              </span>
            </div>
            <%= render @submission.assets %>
          </div>
          <%= render 'admin/consignments/consignment_section', consignment: @submission.consigned_partner_submission, artist: @submission.artist&.name %>
          <%= render 'admin/offers/offers_section', offers: @offers, truncated: true %>
        </div>
      </div>
    </div>

    <div class='col-md-4'>
      <div class='col-md-12'>
        <div class='watt-overview'>
          <div class='overview-section'>
            <div class='overview-section-title--inline'>
              Submission #<%= @submission.id %> <%= "(Deleted)" if @submission.deleted? %>
            </div>
            <div>
              <% if @submission.deleted? %>
                <%= link_to 'Undelete submission', admin_submission_path(@submission, submission: { deleted_at: nil }), method: :put, class: 'sidebar-link' %>
              <% else %>
                <%= link_to 'Delete submission', admin_submission_path(@submission, submission: { deleted_at: Time.current }), method: :put, class: 'sidebar-link' %>
              <% end %>
            </div>
          </div>
          <%= render 'state_actions' %>
          <div class='overview-section'>
            <div class='bold-label'>State</div>
            <div class='single-padding-top'>
              <%= @submission.state %>
            </div>
            <div class='bold-label single-padding-top'>Assigned To:</div>
            <div class='single-padding-top'>
              <%= @submission.assigned_to || 'Unassigned' %>
            </div>
            <div class='single-padding-top'>
              <% if @submission.state == Submission::APPROVED %>
                <%= link_to 'Undo approval', undo_approval_admin_submission_path(@submission), method: :put, class: 'sidebar-link' %>
              <% end %>
              <% if @submission.state == Submission::REJECTED %>
                <%= link_to 'Undo rejection', undo_rejection_admin_submission_path(@submission), method: :put, class: 'sidebar-link' %>
              <% end %>
            </div>
          </div>
          <%= render 'collector_info', submission: @submission %>
          <div class='overview-section'>
            <div class='bold-label'>Partner Interest</div>
            <div class='single-padding-top'>
              <% @partner_submissions_count.each do |date, count| %>
                <%= "#{count} partners notified on #{date.strftime('%Y-%m-%d')}" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
