<div class='row'>
  <div class='col-sm-12'>
    <div class='col-sm-7'>
      <div class='attributes-container triple-padding-top'>
        <div class='page-title'>
          <h2>Submission #<%= @submission.id %></h2>
        </div>
        <div class='bold-label triple-padding-top'>Details</div>

        <div class='row double-padding-top'>
          <div class='col-sm-3'>
            <div class='gray-label'>Artist/Designer</div>
          </div>
          <div class='col-sm-9'>
            <%= @submission.artist_name %>
          </div>
        </div>

        <div class='row single-padding-top'>
          <div class='col-sm-3'>
            <div class='gray-label'>Title</div>
          </div>
          <div class='col-sm-9'>
            <%= @submission.title %>
          </div>
        </div>

        <div class='row single-padding-top'>
          <div class='col-sm-3'>
            <div class='gray-label'>Year</div>
          </div>
          <div class='col-sm-9'>
            <%= @submission.year %>
          </div>
        </div>

        <div class='row single-padding-top'>
          <div class='col-sm-3'>
            <div class='gray-label'>Category</div>
          </div>
          <div class='col-sm-9'>
            <%= @submission.category %>
          </div>
        </div>

        <div class='row single-padding-top'>
          <div class='col-sm-3'>
            <div class='gray-label'>Medium</div>
          </div>
          <div class='col-sm-9'>
            <%= @submission.medium %>
          </div>
        </div>

        <div class='row single-padding-top'>
          <div class='col-sm-3'>
            <div class='gray-label'>Dimensions</div>
          </div>
          <div class='col-sm-9'>
            <%= formatted_dimensions(@submission) %>
          </div>
        </div>

        <div class='row single-padding-top'>
          <div class='col-sm-3'>
            <div class='gray-label'>Location</div>
          </div>
          <div class='col-sm-9'>
            <%= formatted_location(@submission) %>
          </div>
        </div>

        <div class='row single-padding-top'>
          <div class='col-sm-3'>
            <div class='gray-label'>Edition No./Size</div>
          </div>
          <div class='col-sm-9'>
            <%= formatted_editions(@submission) %>
          </div>
        </div>

        <div class='row triple-padding-top'>
          <div class='col-sm-3'>
            <div class='gray-label'>Provenance</div>
          </div>
          <div class='col-sm-9'>
            <%= @submission.provenance %>
          </div>
        </div>

        <div class='row single-padding-top'>
          <div class='col-sm-3'>
            <div class='gray-label'>Signature?</div>
          </div>
          <div class='col-sm-9'>
            <%= @submission.signature %>
          </div>
        </div>

        <div class='row single-padding-top'>
          <div class='col-sm-3'>
            <div class='gray-label'>Certificate of authenticity?</div>
          </div>
          <div class='col-sm-9'>
            <%= @submission.authenticity_certificate %>
          </div>
        </div>

        <div class='row single-padding-top'>
          <div class='col-sm-3'>
            <div class='gray-label'>Created At</div>
          </div>
          <div class='col-sm-9'>
            <%= @submission.created_at&.strftime('%b %-d @ %l:%M %p %Z') %>
          </div>
        </div>

        <div class='row single-padding-top'>
          <div class='col-sm-3'>
            <div class='gray-label'>Receipt Sent At</div>
          </div>
          <div class='col-sm-9'>
            <%= @submission.receipt_sent_at&.strftime('%b %-d @ %l:%M %p %Z') %>
          </div>
        </div>

        <div class='row single-padding-top'>
          <div class='col-sm-3'>
            <div class='gray-label'>Reminders Sent Count</div>
          </div>
          <div class='col-sm-9'>
            <%= @submission.reminders_sent_count %>
          </div>
        </div>

        <div class='row double-padding-top'>
          <div class='col-sm-3'>
            <div class='gray-label'>Images</div>
          </div>
          <div class='col-sm-9'>
            <p>
              <%= link_to 'Add Asset', new_admin_submission_asset_path(@submission), class: 'btn btn-small btn-secondary' %>
            </p>
            <div class='list-group'>
              <% @submission.assets.each do |asset| %>
                <%= render partial: 'admin/assets/asset_row', locals: { asset: asset } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-sm-2'>
      <div class='row edit-container triple-padding-top'>
        <%= link_to 'Edit', edit_admin_submission_path(@submission), class: 'btn btn-secondary btn-small btn-full-width' %>
      </div>
      <div class='row double-padding-top'>
        <div class='bold-label'>Internal Approval</div>
      </div>
      <% if @submission.submitted? %>
        <div class='row single-padding-top'>
          <%= link_to('Approve',
                      admin_submission_path(@submission, submission: { state: 'approved' }),
                      method: :put,
                      class: 'btn btn-secondary btn-approve btn-small btn-full-width',
                      data: { confirm: 'An email will be sent to the consignor, letting them know that their submission will be sent to our partner network. This action cannot be undone.' }) %>
        </div>
        <div class='row single-padding-top'>
          <%= link_to('Reject',
                      admin_submission_path(@submission, submission: { state: 'rejected' }),
                      method: :put,
                      class: 'btn btn-secondary btn-delete btn-small btn-full-width',
                      data: { confirm: 'An email will be sent to the consignor, letting them know that we are not accepting their submission. This action cannot be undone.' }) %>
        </div>
      <% else %>
        <div class='row single-padding-top'>
          <%= reviewer_byline(@submission) %>
        </div>
      <% end %>
      <div class='row double-padding-top'>
        <div class='bold-label'>Partner Interest</div>
        <% @partner_submissions.each do |ps| %>
          <p>
            <%= ps.partner_id %> received on <%= formatted_date(ps.created_at) %>
          </p>
        <% end %>
      </div>
    </div>
    <div class='col-sm-3'>
      <div class='attributes-container triple-padding-top'>
        <div class='bold-label'>Collector info</div>

        <div class='double-padding-top'>
          <div>
            <%= @submission.user_name %>
          </div>
          <div>
            <%= @submission.user_detail.try(:email) %>
          </div>
          <div>
            <%= @submission.user_detail.try(:phone) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
