<a href=<%= root_url %> class='brand'>
  <%= render '/shared/watt/svgs/mark' %>
</a>

<div class='nav-application-name'>
  <%= link_to 'Convection', root_url %>
</div>

<div class='nav'>
  <%= link_to 'Submissions', admin_submissions_url %>
  <%= link_to 'Offers', admin_offers_url %>
  <%= link_to 'Consignments', admin_consignments_url %>
  <%= link_to 'Partners', admin_partners_url %>
  <%= link_to 'log out', '/sign_out' %>
</div>
